{% extends 'base.html' %}
{% load url_resolve %}
{% block content %}
    <div class="row pb-4">
{#        {% if request.get_full_path|length %}#}
{#        {% if request.get_full_path|length == 1 %}#}
{#            small#}
{#        {% else %}#}
{#            big#}
{#        {% endif %}#}
{#        <br>#}
{#        {{ request.build_absolute_uri }}#}

        <form class="row justify-content-md-center" novalidate>
            <div class="col-2">
                <input class="form-control" value="{{ request.GET.start_date }}" type="text" placeholder="С: 01/01/0001" aria-label="Дата начала" name="start_date">
            </div>
            <div class="col-2">
                <input class="form-control" value="{{ request.GET.end_date }}" type="text" placeholder="По: 01/01/0001" aria-label="Дата конца" name="end_date">
            </div>
            <div class="col-2">
                <input class="form-control" value="{{ request.GET.brand }}" type="text" placeholder="Бренд" aria-label="Бренд" name="brand">
            </div>
            <div class="col-2">
                <input class="form-control" value="{{ request.GET.model }}" type="text" placeholder="Модель" aria-label="Модель" name="model">
            </div>
            <div class="col-1">
{#                {{ request.GET.duplicates }}#}
                {% if request.GET.duplicates == 'on' %}
                    <input type="checkbox" class="btn-check" id="btn-check-outlined" name="duplicates" checked>
                {% else %}
                    <input type="checkbox" class="btn-check" id="btn-check-outlined" name="duplicates">
                {% endif %}

                <label class="btn btn-outline-secondary" for="btn-check-outlined">Дубликаты</label>
            </div>
            <div class="col-1">
                <button class="btn btn-light btn-outline-secondary form-control" type="submit">Search</button>
            </div>
        </form>
{#        <form class="d-flex" method="get" action="{% url 'database' %}">#}
{#            #}
{#            <input class="form-control" type="text" placeholder="С: 01/01/0001" aria-label="Дата начала" name="start_date">#}
{#            <input class="form-control me-2" type="text" placeholder="По: 01/01/0001" aria-label="Дата конца" name="end_date">#}
{#            <input class="form-control me-2" type="text" placeholder="Бренд" aria-label="Бренд" name="brand">#}
{#            <input class="form-control me-2" type="text" placeholder="Модель" aria-label="Модель" name="model">#}
{##}
{#            <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">#}
{#            <label class="btn btn-outline-primary" for="btn-check-outlined">Дубликаты</label><br>#}
{##}
{#            <button class="btn btn-light btn-outline-secondary" type="submit">Search</button>#}
{#        </form>#}
    </div>
{#    <div class="row pb-4">#}
{#        <form class="d-flex" method="get" action="{% url 'database' %}">#}
{#            {{ search_form }}#}
{#            <button class="btn btn-light btn-outline-secondary" type="submit">Search</button>#}
{#        </form>#}
{#    </div>#}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4">
    {% for car in cars %}
        <div class="col dark" style="padding-bottom: 24px" >
            <div class="card">
                <div class="card-top">
                {% if car.photos.all|length == 0 %}
                    <img src="https://yugcleaning.ru/wp-content/themes/consultix/images/no-image-found-360x250.png" class="d-block w-100" style="object-fit: cover">
                {% elif car.photos.all|length == 1 %}
                    <div id="_{{ car.id }}" class="carousel slide"  data-bs-ride="carousel">
                        <div class="carousel-inner" style="height: 200px;">
                            <img src="{{ car.photos.all.first.photo_url }}" class="d-block w-100" style="object-fit: cover">
                        </div>
                    </div>
                {% else %}
                    <div id="_{{ car.id }}" class="carousel slide"  data-bs-ride="carousel">
                    <div class="carousel-inner" style="height: 200px;">

                    {% for image in car.photos.all %}
                        {% if image == car.photos.all|first %}
                            <div class="carousel-item active">
                        {% else %}
                            <div class="carousel-item">
                        {% endif %}

                    <img src="{{ image.photo_url }}" class="img-responsive" style="height: 100%; width: 100%; object-fit: fill">
                </div>
                {% endfor %}
                </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#_{{ car.id }}" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>

                    <button class="carousel-control-next" type="button" data-bs-target="#_{{ car.id }}" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>

                    </div>
                    {% endif %}
                </div>

                <div class="card-body">
                    <h5 class="card-title">Бренд: {{ car.brand }}</h5>
                    <h5>Модель: {{ car.model }}</h5>
                    <p class="clearfix">Год: {{ car.year }}</p>
{#                    <p>Дата добавления: {{ car.created_at }}</p>#}
                    <p>created: {{ car.created_at }}</p>
{#                    <p>Дата появления: {{ car.added_at }}</p>#}
                    <p>added: {{ car.added_at }}</p>
                    <p>id: {{ car.advertisement_id }}</p>
                    <p>Сайт: <a href="{{ car.advertisement_url }}" >{{ car.site }}</a></p>

                    {% if car.similar_advertisement.all %}
    {#                    <span class="position-absolute bottom-0 end-0 badge bg-warning text-dark">Дупликаты</span>#}

                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#_{{ car.id }}_modal">
                             Показать дупликаты
                        </button>

                        <div class="modal fade" id="_{{ car.id }}_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Дубликаты</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                    <div class="modal-body">
                                        {% for duplicate in car.similar_advertisement.all %}
                                            <div class="card">
                                                <div class="card-top">
                                                {% if duplicate.photos.all|length == 0 %}
                                                    <img src="https://yugcleaning.ru/wp-content/themes/consultix/images/no-image-found-360x250.png" class="d-block w-100" style="object-fit: cover">
                                                {% elif duplicate.photos.all|length == 1 %}
                                                    <div id="_{{ duplicate.id }}" class="carousel slide"  data-bs-ride="carousel">
                                                        <div class="carousel-inner" style="height: 400px;">
{#                                                            <img src="https://yugcleaning.ru/wp-content/themes/consultix/images/no-image-found-360x250.png" class="d-block w-100" style="object-fit: cover">#}
                                                            <img src="{{ duplicate.photos.all.first.photo_url }}" class="d-block w-100" style="object-fit: cover">
                                                        </div>
                                                    </div>
                                                {% else %}
                                                    <div id="_{{ duplicate.id }}" class="carousel slide"  data-bs-ride="carousel">
                                                    <div class="carousel-inner" style="height: 400px;">

                                                    {% for image in duplicate.photos.all %}
                                                        {% if image == duplicate.photos.all|first %}
                                                            <div class="carousel-item active">
                                                        {% else %}
                                                            <div class="carousel-item">
                                                        {% endif %}
                                                            <img src="{{ image.photo_url }}" class="img-responsive" style="height: 100%; width: 100%; object-fit: fill">
                                                        </div>
                                                    {% endfor %}
                                                    </div>
                                                        <button class="carousel-control-prev" type="button" data-bs-target="#_{{ duplicate.id }}" data-bs-slide="prev">
                                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                            <span class="visually-hidden">Previous</span>
                                                        </button>

                                                        <button class="carousel-control-next" type="button" data-bs-target="#_{{ duplicate.id }}" data-bs-slide="next">
                                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                            <span class="visually-hidden">Next</span>
                                                        </button>

                                                        </div>
                                                        {% endif %}
                                                    </div>

                                                    <div class="card-body">
                                                        <h5 class="card-title">{{ duplicate.brand }} {{ duplicate.model }}</h5>
                                                        <p>Год: {{ duplicate.year }}</p>
                                                        <p>Дата появления объявления: {{ duplicate.created_at }}</p>
                                                        <p>В базе с: {{ duplicate.added_at }}</p>
                                                        <p>id: {{ duplicate.advertisement_id }}</p>
                                                        <a href="{{ duplicate.advertisement_url }}" >
                                                            <p>Сайт: {{ duplicate.site }}</p>
                                                        </a>
                                                    </div>
                                                </div>
                                         {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>


            </div>
        </div>
    {% endfor %}
    </div>
        <div class="row justify-content-md-center">
          <ul class="pagination justify-content-center">
            {% if cars.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="{% url_add_query page=cars.previous_page_number %}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                </li>
            {% endif %}

            {% for i in cars.paginator.page_range  %}
                {% if i <= cars.number|add:5 and i >= cars.number|add:-5 %}
                    {% if i == cars.number %}
                        <li class="page-item active"><a class="page-link" href="{% url_add_query page=i %}">{{i}}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="{% url_add_query page=i %}">{{ i }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if cars.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{% url_add_query page=cars.next_page_number %}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                </li>
            {% endif %}
          </ul>
        </div>
    {% endblock %}